{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div>
  <form method="POST" action="">
    {% csrf_token %}
    <label>Email:</label>
    <input type="text" name="email" placeholder="Enter email" />

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter password" />

    <input type="submit" value="Sign In" />
  </form>
  <p>Don't have an account?</p>
  <a href="{% url 'user:register' %}">Create account</a>
</div>
{% endif %}
{% if page == 'register' %}
<div>
  <form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register" />
  </form>
  <p>Already have an account?</p>
  <a href="{% url 'user:login' %}">Create account</a>
</div>
{% endif %}
{% endblock %}