{% extends 'main.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/vehicles.css' %}">
{% endblock styles %}

{% block title %}Profile{% endblock title %}

{% block content %}
<main class="container">
  <section class="racer-container">

    <div class="race-card">
      {% if request.user == user %}
      <div class="image-container">
        <img src="{% static 'images/characters/' %}{{user.avatar.image}}" />
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Save" />
      </form>

      {% else %}

      <div class="image-container">
        <img src="{% static 'images/characters/' %}{{user.avatar}}" />
      </div>

      <h1>{{user.username}}</h1>
      <p> Since: {{user.created_at}}</p>
      <p>
        {{user.bio}}
      </p>
      {% endif %}
    </div>

  </section>

</main>
{% endblock %}