{% extends 'main.html' %}

{% load static %}

{% block content %}
<main class="container">

  <h3 class="race-header race-stripe-right">CTGP Revolution</h3>

  <div id="track-sort-controls">
    <button id="default" class="wii-button">default</button>
    <button id="custom" class="wii-button">custom</button>
    <button id="alphabetical" class="wii-button">alphabetical</button>
  </div>

  {% for cup in cups %}
  <div class="cup">
    <div class="img-container">
      <img src="{% static 'images/cups/' %}{{cup.image}}" />
    </div>
    <h2>{{cup.label}}</h2>

    <ul class="tracks">

      {% for track in cup.default_tracks.all %}
      <li>{{track.label}}</li>
      {% endfor %}

    </ul>
  </div>
  {% endfor %}

</main>
{% endblock content %}