{% extends 'main.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/vehicles.css' %}">
{% endblock styles %}

{% block title %}
Engine Classes
{% endblock title %}

{% block content %}
<main class="container">

  <h1 class="race-header race-stripe-right">Engine Classes</h1>

  {% for engine in engine_classes %}
  <section class="racer-container">
    <h2>{{engine.label}}</h2>
  </section>
  {% endfor %}

</main>
{% endblock content %}