{% extends 'main.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<main class="container">

  <ul class="grid">
    <li class="btn"><a href="{% url 'timetracker:index' %}" class="link scraper">Time Tracker</a></li>
    {% if request.user.is_superuser %}
    <li class="btn"><a href="{% url 'scraper:index' %}" class="link scraper">Scraper</a></li>
    {% endif %}
    <li class="btn"><a href="{% url 'base:characters' %}" class="link">characters</a></li>
    <li class="btn"><a href="{% url 'base:vehicles' %}" class="link">vehicles</a></li>
    <li class="btn"><a href="{% url 'base:game-modes' %}" class="link">game modes</a></li>
    <li class="btn"><a href="{% url 'base:engine-classes' %}" class="link">engine classes</a></li>
    <li class="btn"><a href="{% url 'base:wii' %}" class="link">Wii</a></li>
    <li class="btn"><a href="{% url 'base:ctgp' %}" class="link">CTGP Revolution</a></li>
  </ul>
</main>



{% endblock %}