{% extends 'main.html' %}

{% block title %}
Mario Kart
{% endblock %}

{% block content %}
<div class="container">

  <div id="goto_wii-container">
    <button id="goto_wii" class="race-stripe-left">Mario Kart Wii</button>
  </div>

  <h3 class="race-header race-stripe-right">CTGP Revolution</h3>
  <div id="track-sort-controls">
    <button id="default" class="wii-button">default</button>
    <button id="custom" class="wii-button">custom</button>
    <button id="alphabetical" class="wii-button">alphabetical</button>
  </div>
  <div id="ctgp-cups"></div>

  <h3 class="race-header race-stripe-left">Mario Kart Wii</h3>
  <div id="wii-cups"></div>
</div>



{% endblock %}